body{
    text-align: center;
    font-family: 'Montserrat', 'sans-serif';
    background-color: rgb(180, 145, 100);
}
.container{
    display: flex;
    flex-direction: column;
    row-gap: 5em;
    align-items: center;
    margin: 3em;
    flex-wrap: wrap;
}
.visa-container{
    display: flex;
    flex-direction: column;
    color: white;
    background-color: black;
    border-radius: 1em;
}
.visa-container:hover{
    transform: translateY(-2em);
    transition: transform 0.2s;
}
h2{
    margin-top: 2em;
}
p span{
    font-size: 40px;
    font-weight: 800;
}
sup{
    font-size: 22px;
}
.visa-container p:first-of-type{
    margin-top: -0.3em;
}
.visa-validity{
    margin-bottom: -0.8em;
    margin-top: 1em;
}
.max-stay{
    margin-bottom: 2em;
}
.application-time{
    margin-top: 2em;
    margin-bottom: 2em;
}
i{
    margin-left: 0.5em;
}
.fa-check{
    color: green;
}
.fa-xmark{
    color: red;
}
button{
    background-color: rgb(180, 145, 100);
    border: none;
    font-size: 1rem;
    margin: 0 5rem 2em 5rem;
    padding: 1em;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 0.2em;
}
button:hover{
    background-color: white;
    color:  rgb(180, 145, 100);
}
@media(min-width: 768px){
    .container{
        flex-direction: row;
        column-gap: 5em;
    }
    .visa-container{
        flex: 1;
        margin:0 1em;
    }
}
